# keys -- store in .env

WMATA_API_KEY = ''

#Weather API Source is weatherbit.io
WEATHER_API_KEY = '' 

LATITUDE = 0
LONGITUDE = -0

#must be in WMATA station code format!
STATION_CODE = "" 

#earliest hour(0-23) that display should display on weekday
DISPLAY_START = 7

#earliest hour (0-23) that display should display on weekend
DISPLAY_START_WEEKEND = 9  

DISPLAY_STOP = 0 #need to implement at some point - when to stop display at night (currently midnight)

FONT_PATH = "helvR08.pil" #font we're using (assumes header and body font are same)

FONT_PATH_INCIDENT = "4x6.bdf"